%script{:id=>"auth_connection_template", :type=>"text/x-handlebars-template"}
  .connection
    %img{ src: asset_path('{{provider}}.png') }
    .text
      account: {{name}}
    .close
      %a.close{ href: '#', 'data-id'=> "{{id}}" }
        %img.ui-icon.ui-icon-close

#wrapper.business_edit
  = form_for(@business) do |f|
    .error_messages
      = f.error_messages(header_message: '') if @business.errors
    #business_data{ 'data-info' => @business.model.to_json }
    = f.hidden_field :lat
    = f.hidden_field :lng
    = f.hidden_field :geocoded_by
    .wrapper_panel
      .buiz_panel
        %div
          .field
            = f.text_field :name, :placeholder => 'Business Name'
          .field
            = f.select :service_type, Business::SERVICE_TYPE_NAMES.zip(Business::SERVICE_TYPES)
          .field
            = f.text_field :description, :placeholder => 'Business Description'
        %div
          .field
            = f.text_field :address, :placeholder => 'Street Address'
          .field
            = f.text_field :address2, :placeholder => 'Street Address2'
          .field
            = f.text_field :city, :placeholder => 'City'
          .field.state.zip
            = f.select :state, Carmen::state_codes('US')
            = f.text_field :zip_code, :placeholder => 'Zip Code'
          .field.phone
            = f.label :phone
            = f.text_field :phone_first3, placeholder: :area_code
            -
            = f.text_field :phone_second3
            -
            = f.text_field :phone_last4
          .field
            = f.text_field :url, placeholder: 'Home Page Url'
      .auth_panel{ 'data-auth'=> @business.user.authentications.to_json(only: [:provider, :id], methods: [:name]) }
        .auth_section.facebook
          .link
            =link_to 'faceboook connect', '/auth/facebook', class: 'button popup', 'data-width'=> 400, 'data-height'=> 400
        .auth_section.twitter
          .link
            =link_to 'twitter connect', '/auth/twitter', class: 'button popup', 'data-width'=> 600, 'data-height'=> 400
        .connections
          Current connections:
    .open_times
      - Date::DAYNAMES.each_with_index do |dayname,day_index|
        - hour_method = "#{dayname.downcase}_hours"
        .days_times
          .day_name
            = Business::SHORT_DAYNAME[day_index]
          - Business::TIME_TYPES.each_with_index do |type,index|
            .hours
              = f.select "#{hour_method}_#{type}_hour", (0..12).zip(('00'..'12')), {}, name: "business[#{hour_method}_#{type}[hour]]"
            .minutes
              = f.select "#{hour_method}_#{type}_min", ["00", "15", "30", "45"], {}, name: "business[#{hour_method}_#{type}[min]]"
            .ampm
              = f.select "#{hour_method}_#{type}_ampm", %w(am pm), {}, name: "business[#{hour_method}_#{type}[ampm]]"
            - if index == 0
              == -
            - else
              = f.check_box "#{hour_method}_open", name: "business[#{hour_method}_open]"
              Open
    .buttons
      = f.submit 'Save', class: :button
      - if current_business
        = link_to 'Cancel', business_path(current_business), class: :button

  #map_canvas_container
    .field.map_location
      Map Location with:
      = select(:geo_lookup, :id, [:google, :yahoo,  :geocoder_ca].collect{|l| [l.to_s, l]}, :selected=> @business.geocoded_by || Geocoder::Configuration.lookup)
      = button_tag :go, type: :button, id: :geo_lookup_button
    #map_canvas


