= form_for(@business) do |f|
  .error_messages
    -#= f.error_messages if @business.errors
  %div
    .field
      = f.text_field :name, :placeholder => 'Business Name'
    .field
      = f.select :service_type, Business::SERVICE_TYPE_NAMES.zip(Business::SERVICE_TYPES)
    .field
      = f.text_field :description
  %div
    .field
      = f.text_field :address, :placeholder => 'Street Address'
    .field
      = f.text_field :address2, :placeholder => 'Street Address2'
    .field
      = f.text_field :city, :placeholder => 'City'
      = f.select :state, Carmen::state_codes('US')
      = f.text_field :zip_code, :placeholder => 'Zip'
    .field
      = f.label :phone
      = f.text_field :phone_first3
      -
      = f.text_field :phone_second3
      -
      = f.text_field :phone_last4

  .open_times
    - Date::DAYNAMES.collect(&:downcase).each_with_index do |dayname,day_index|
      .days_times
        .day_name
          = Business::SHORT_DAYNAME[day_index]
        - Business::TIME_TYPES.each_with_index do |type,index|
          .hours
            = f.select "#{dayname}_hours_#{type}_hour", (0..12).zip(('00'..'12')), {}, :name=>"#{dayname}_hours_#{type}[hour]"
          .minutes
            = f.select "#{dayname}_hours_#{type}_min", ('00'..'60'), {}, :name=>"#{dayname}_hours_#{type}[min]"
          .ampm
            = f.select "#{dayname}_hours_#{type}_ampm", %w(am pm), {}, :name=>"#{dayname}_hours_#{type}[ampm]"
          - if index == 0
            == -

  = f.submit

