#wrapper.home
  #logo
    .wrapper
      .img
        %img.logo{ src: asset_path("localeyes_logo_large.jpg") }
      .text== Businesses
  .home_opener
  #content.home
    .top_section
      .login
        = form_for(@new_user, :url=> login_submit_business_users_path, remote: true) do |f|
          %h1== Sign In
          .message
            &nbsp;
          .field
            = f.text_field :email, placeholder: '    email address'
          .field
            = f.password_field :password, placeholder: '       password'
          .sign_in_button_wrapper
            .sign_in_button
              = f.submit "Sign in", :id=>"sign_in_button", :class=>"button"
            .spinner_elem.invisible
              %img{ src: asset_path('ui-anim_basic_16x16.gif') }
      .register
        = form_for(@new_user, :url=> business_users_path, remote: true) do |f|
          %h1== New Business User
          .message
            &nbsp;
          .row
            .field
              = f.text_field :email, placeholder: '    email address'
            .field
              = f.password_field :password, placeholder: '       password'
          .row
            .field
              = f.text_field :name, placeholder: '   full name '
            .field
              = f.password_field :password_confirmation, placeholder: '  confirm password'
          .register_button_wrapper
            .register_button
              = f.submit "Register", :id=>"register_button", :class=>"button"
            .spinner_elem.invisible
              %img{ src: asset_path('ui-anim_basic_16x16.gif') }
