#wrapper.business_users_register
  #content
    %h1.inset User Registration
    = form_for( @user ) do |f|
      = f.error_messages :header_message => nil, :message=> "There were problems with the following fields:"
      .field
        = f.label :email
        = f.email_field :email
      .field
        = f.label :first_name
        = f.text_field :first_name
      .field
        = f.label :last_name
        = f.text_field :last_name
      .field
        = f.label :phone
        = f.text_field :phone
      .field
        = f.label :password
        = f.password_field :password
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation

      = f.submit 'Save', class: "button"