%h1.inset User Sign in
#content.users_login
  = alert
  = form_for(@user, :url=> login_submit_users_path) do |f|
    .field
      = f.label :email
      = f.text_field :email
    .field
      = f.label :password
      = f.password_field :password

    = f.submit "Sign in", :id=>"log_in", :class=>"button"
