= form_for(@event, :remote=>true) do |f|
  = hidden_field_tag :edit_affects_type
  = hidden_field_tag :edit_start_time, @event.start_time_str
  = hidden_field_tag :start_end_date_diff, @event.start_end_date_diff

  .event_type_radio
    = f.radio_button :event_type, Event::EVENT
    = f.label :event_type_0
    = f.radio_button :event_type, Event::SPECIAL
    = f.label :event_type_1
    = f.radio_button :event_type, Event::ANNOUNCEMENT
    = f.label :event_type_2

  .field
    = f.label :title, class: :title
    %span.small== ( 34 characters max )
    %div
      = f.text_field :title, size: 44, maxlength: 34, value: @event.title
  .field
    = f.label :description
    %span.small== ( 160 characters max )
    = f.text_area :description
  .time_field
    = f.label :start_time
    = f.text_field :start_date, class: :datepicker
    = f.select :start_time_hour, (0..12).zip(('00'..'12'))
    = f.select :start_time_minute, ["00", "15", "30", "45"]
    = f.select :start_time_am_pm, ['am', 'pm']
  .time_field
    = f.label :end_time
    = f.text_field :end_date, class: :datepicker
    = f.select :end_time_hour, (0..12).zip(('00'..'12'))
    = f.select :end_time_minute, ["00", "15", "30", "45"]
    = f.select :end_time_am_pm, ['am', 'pm']

  .recurring
    .title
      Recurrance
    .recurrence_radio
      = f.radio_button :recur_value, Event::ONCE
      = f.label :recur_value_once
      = f.radio_button :recur_value, Event::DAILY
      = f.label :recur_value_day
      = f.radio_button :recur_value, Event::WEEKLY
      = f.label :recur_value_week
      = f.radio_button :recur_value, Event::MONTHLY
      = f.label :recur_value_month

  .affecting
    .text
    .choices_radio
      %input{ type: :radio, id: 'edit_affects_one', :name=>:edit_affects, :value=>'one' }
      %label{ :for=>'edit_affects_one'} This One
      %input{ type: :radio, id: 'edit_affects_all_series', :name=>:edit_affects, :value=>'all_series' }
      %label{ :for=>'edit_affects_all_series'} Entire Series
      %input{ type: :radio, id: 'edit_affects_cancel', :name=>:edit_affects, :value=>'none' }
      %label{ :for=>'edit_affects_cancel'} Cancel

  .ends
    = f.label :recur_until_date
    = f.text_field :recur_until_date, class: :datepicker

  .submit_buttons
    = f.submit :class=>:button, 'data-method'=>'put'
    - if !@event.new_record?
      = hidden_field_tag '_method', "put"
      = f.submit 'Delete', :class=>:button, 'data-method'=>'delete'

